@font-face {
    font-family: "Space Grotesk";
    src: url("./assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
}

.font{
    font-family: "Space Grotesk";
}

p{
    font-size: 18px;
    font-weight: 400;
}

h1{
    font-size: 60px;
    font-weight: 500;
}

h2{
    font-size: 36px;
    font-weight: 500;
}

h3{
    font-size: 26px;
    font-weight: 500;
}

h4{
    font-size: 20px;
    font-weight: 500;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

.dirty-text{
    font-size: 20px;
    font-weight: 400;
}

.white-text{
    color: white;
}

.white-text-outline{
    background-color: white;
    padding: 5px;
    border-radius: 7px;
    width: fit-content;
}

.green-text-outline{ 
    background-color: #B9FF66;
    padding: 5px;
    border-radius: 7px;
    width: fit-content;
}

.vertical-separator{
    height: 100%;
    border: 1px white solid;
    margin-left: 64px;
    margin-right: 64px;
}

.horizontal-separator{
    width: 100%;
    height: 0px;
    border: 1px black solid;
    margin-top: 28px;
    margin-bottom: 28px;
}

.horizontal-separator-stage{
    width: 100%;
    height: 0px;
    border: 1px black solid;
    margin-top: 28px;
    margin-bottom: 28px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.body-container{
    width: 100vw;
    height: 100vh;
    padding: 60px 100px 0px 100px;
}

.bar{
    display: flex;
    width: 100%;
    height: 68px;
    align-items: center;
}

.logo{
    width: 30%;
}

.navigation{
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.nav-upper-button{
    height: 100%;
    width: 230px;
    border-radius: 14px;
    background-color: transparent;
    font-size: 20px;
}

.info-subcontainer{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.header-left-subcontainer{
    width: 35%;
}

.info-text{
    margin-top: 35px;
    width: 90%;
}

.book-consultation-button{
    width: 264px;
    height: 68px;
    background-color: #191A23;
    color: white;
    border-radius: 14px;
    border-color: transparent;
    margin-top: 35px;
}

.header-right-subcontainer{
    display: flex;
    justify-content: center;
    width: 50%;
}

.partners-subcontainer{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.partner-logo{
    filter: grayscale(100%);
}

.article-container{
    margin-top: 140px;
    overflow: hidden;
}

.article-head-subcontainer{
    display: flex;
    width: 90%;
    height: 51px;
    gap: 40px;
    align-items: center;
    overflow: hidden;
}

.article-name{
    width: fit-content;
}

.article-info{
    width: 70%;
}

.article-info-subcontainer{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.service-layer{
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 310px;
    margin-top: 40px;
}

.service-left-container{
    width: 600px;
    height: 100%;
}

.service-right-container{
    width: 600px;
    height: 100%;
}

.service-block{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px #191A23 solid;
    border-radius: 45px;
    padding: 50px;
    overflow: hidden;
}

.service-block-left-cont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-learn-more-button{
    border: 0px;
    background-color: transparent;
    width: 164px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-block-right-cont{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.grey-bg-block{
    background-color: #F3F3F3;
}

.green-bg-block{
    background-color: #B9FF66;
}

.dark-bg-block{
    background-color: #191A23;
}

.proposal-container{
    position: relative;
    display: flex;
    align-items: center;
    height: 400px;
}

.proposal-subcontainer{
    width: 100%;
    height: 347px;
    display: flex;
    border-radius: 45px;
}

.proposal-left-subcontainer{
    width: 50%;
    height: 100%;
}

.proposal-content{
    width: 100%;
    height: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.proposal-try-button{
    width: 288px;
    height: 68px;
    border-radius: 14px;
}

.proposal-right-subcontainer{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proposal-image-placement{ 
    position: absolute;
    z-index: 2;
}

.case-types-info{
    height: 326px;
    width: 100%;
    background-color: #191A23;
    display: flex;
    justify-content: space-between;
    border-radius: 45px;
    padding: 70px 60px;
    color: white;
}

.type-blocks{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.case-study-learn-more-button{
    color: #B9FF66;
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    border: 0px;
}

.wp-head{
    width: 33%;
}

.wp-head-info{
    width: 60%;
}

.opened-stage-subcontainers{
    margin-top: 40px;
    width: 100%;
    height: 279px;
    border-radius: 45px;
    border: 0.5px #191A23 solid;
    background-color: #B9FF66;
    padding: 41px 60px;
}

.stage-consultation-head{
    display: flex;
    align-items: center;
    width: 100%;
    height: 77px;
}

.stage-head-left-container{
    display: flex;
    width: 10%;
}

.stage-head-center-container{
    width: 40%;
}

.wp-name{
    font-size: 30px;
    font-weight: 500;
}

.stage-head-right-container{
    width: 50%;
    display: flex;
    justify-content: end;
}

.stages-subcontainers{
    margin-top: 40px;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 159px;
    border-radius: 45px;
    border: 0.5px #191A23 solid;
    background-color: #F3F3F3;
    padding: 41px 60px;
}

.team-members{
    width: 100%;
    height: 725px;
    display: flex;
    flex-direction: column;
}

.team-layer{
    margin-top: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 40px;
}

.team-member-container-struct{
    width: 387px;
    height: 100%;
    border: #191A23 0.5px solid;
    border-radius: 45px;
    padding: 40px 35px;
}

.tm-head-subcontainer{
    position: relative;
    display: flex;
}

.member-image{
    width: 100px;
    height: 100px;
}

.member-linkedin-button{
    position: absolute;
    top: 0;
    right: 0;
}

.team-members-more{
    display: flex;
    justify-content: end;
    margin-top: 40px;
    width: 100%;
    height: 100%;
}

.team-members-more-button{
    height: 68px;
    width: 269px;
    border-radius: 14px;
    border: 0px transparent;
}